@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

body {
	margin: 0;
	font-family: "Poppins";
	background-color: #e5e5e5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--ALERT-SUCCESS-COLOR: #6fc909;
	--Const-white: #fff;
	--Const-black: #000;
	--Const-primary: rgb(255, 231, 10);
}
[theme-attribute="light"] {
	--Primary: #141616;
	--Secondary: #fff;
	--Primary-variant: #cddbdb;
	--Secondary-variant: #000;
	--Background: rgb(255, 231, 10);
	--Error: #b00020;
	--White: #000;
	--Black: #fff;
}
[theme-attribute="dark"] {
	--Primary: rgb(255, 231, 10);
	--Secondary: rgb(255, 231, 10);
	--Primary-variant: #000;
	--Secondary-variant: #a9d3d3;
	--Background: #141616;
	--Error: #b00020;
	--Black: #000;
	--White: #fff;
}
